<template>
     <body>
<header>
    <br>
    <br>
    <div class="header-div">
        <input
            type="text"
            placeholder="Busca un articulo"
            class="header-div-input"
            />
        <div class="header-div-icon">
            <i class="icon ion-md-search"></i>
        </div>
    </div>
    <div class="wave" style="height: 50px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg></div>
</header>
<!-- Fin de la cabecera -->
    <!-- Fin de la cabecera -->
        <main class="container">
            <section class="form-box">
                <div class="button-box">
                    <a href="login.html" class="toggle-btn">Iniciar Sesión</a>
                    <a href="registro.html" class="toggle-btn">Registrate</a>
                </div>
                <div class="redes-sociales">
                    <img src="../assets/facebook.png" alt="icono_facebook">
                    <img src="../assets/twue.jpg" alt="icono_twitter">
                    <img src="../assets/google.png" alt="icono_google">
                </div>
                <p class="warning" id="warning"></p>
                <form 
                    id="login"
                    class="form-login"
                    action="" 
                    method="POST">
                    <input 
                        id="email"
                        name="email"
                        type="text" 
                        class="input-field"
                        placeholder="Correo electronico"
                        />
                    <input 
                        id="password"
                        name="password"
                        type="password" 
                        class="input-field" 
                        placeholder="Contraseña" 
                        />
                    <div>
                        <input type="submit" class="submit-btn" value="Ingresar"/>
                        
                    </div>
                    
                </form>
                
            </section>
        </main>
        <br>
        <br>
<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>¿Quieres hablarnos?</h4>
            <nav>
            <a class="f-a" href="contactenos.html">Contacto</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Conócenos</h4>
            <nav>
                <a class="f-a" href="sobre-nosotros.html">Sobre Nosotros</a>
            </nav>
        </div>
        <div class="content-foo">
            <h4>Location</h4>
            <br>
            <p>Manta-Ecuador</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; AW I | Quinto "B" | 2023</h2>
</footer>
        
    </body>
  </template>
  
  <script>
  export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  
  };
  
  </script>
  
  <style scoped>
  
header {
    width: 100%;
    height: 130px;
    background: #95e7c5;
 
    background: -webkit-linear-gradient(to right, hsla(140, 40%, 52%, 0.459), hsla(194, 45%, 52%, 0.664));
    
    background: linear-gradient(to right, hsla(140, 40%, 52%, 0.459), hsla(194, 45%, 52%, 0.664));
   
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}

.header-div {
    display: flex;
    padding: 0 10px;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

.header-div-input {
    width: 30%;
    border: 0.5px solid rgb(0, 0, 0);
    outline: none;
    font-size: 20px;
    padding: 5px 16px;
    border-radius: 25px;
    transition: all 0.5s ease;
    top: 200px;
}

.header-div-input:hover {
    width: 40%;
    background: var(--secondarycolor);
}

.header-div-input:focus {
    width: 30%;
    background: var(--secondarycolor);
}

.header-div-icon {
    position: absolute;
    padding: 5px 15px 0 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
}

.header-div-icon:hover {
    color: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a,
li {
    text-decoration: none;
    list-style: none;
    color: black;
}

:root {
    --primarycolor: #313B50;
    --secondarycolor: #ffffff;
    --thirdcolor: #434c61;
    --fourthcolor: #367588;
    --cancel: #56070c;
    --primarytext: 'Montserrat', sans-serif;
    --secondtext: "Dancing Script", cursive;
    --shadow: rgba(0, 0, 0, 0.75);
        }


body{
    margin: 0px;
    background-color:var(--secondarycolor)
}
.container{
    width: 100%;
    margin: 0px 0 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    width: 485px;
    height: 500px;
    text-align: center;
    font-size: 0.7rem;
    margin: 0 auto;
    background-color:rgb(243, 243, 243); 
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

.button-box{
    width: 240px;
    margin: 30px auto;
    position: relative;
    border-radius: 30px;
    cursor: pointer;
}

.toggle-btn{
    padding: 10px 22px;
    background: var(--primarycolor);
    outline: none;
    position: relative;
    border-radius: 25px;
    color: var(--secondarycolor);
    cursor: pointer;
}

.redes-sociales{
    margin: 10px auto;
    text-align: center;
}

.redes-sociales img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 9px #e0e0e0;
    cursor: pointer;
    border-radius: 50%;
}

.warning {
    width: 100%;
    grid-column: 1/-1;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    margin: auto;
    color: var(--primarycolor);
    padding: 10px 0 0;
} 

.form-login{
    grid-column: 1/-1;
    width: 80%;
    padding: 10px 20px 10px;
    margin: auto;
}

.input-field{
    width: 100%;
    padding: 50px 0;
    margin: 15px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid var(--primarycolor);
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 75%;
    padding: 10px 30px;
    margin-top: 50px;
    margin: auto;
    background: var(--primarycolor);
    outline: none;
    border-radius: 30px;
    color: var(--secondarycolor);
    text-align: center;
    cursor: pointer;
}

#login{
    left: 50px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a,
li {
    text-decoration: none;
    list-style: none;
    color: black;
}

:root {
    --primarycolor: #313B50;
    --secondarycolor: #ffffff;
    --thirdcolor: #434c61;
    --fourthcolor: #367588;
    --cancel: #56070c;
    --primarytext: 'Montserrat', sans-serif;
    --secondtext: "Dancing Script", cursive;
    --shadow: rgba(0, 0, 0, 0.75);
        }


footer{
    background: #414141;
    padding: 3rem;
}

.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: var(--secondarycolor);
    border-bottom: 3px solid #32965D;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.f-a{
    color: var(--secondarycolor);
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}
/* Galeria */

.imagen-port{
    width: 44%;
}

/* team */

.cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards .card{
    width: 90%;
}

.cards .card:first-child{
    margin-bottom: 30px;
}

@media screen and (max-width:500px){
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}


  </style>