<template>
  <div>
    <header>
      <button id="abrir" class="abrir-menu"><i class="bi bi-list"></i></button>
      <nav class="nav" id="nav">
        <button class="cerrar-menu" id="cerrar"><i class="bi bi-x"></i></button>
        <ul class="nav-list">
          <li><router-link to="/">Principal</router-link></li>
          <li><router-link to="/inicio">Inicio</router-link></li>
          <li><router-link to="/articulos">Articulos</router-link></li>
          <li><router-link to="/ingreso">Login</router-link></li>
          <li><router-link to="/registro">Registrarse</router-link></li>
          <li><router-link to="/contacto">Contactanos</router-link></li>
          <li><router-link to="/nosotros">Sobre Nosotros</router-link></li>


        </ul>
      </nav>
      <section class="textos-header">
        <h1>Bienvenido a las publicaciones cientificas Facci</h1>
        <h2>Compartamos el Conocimiento</h2>
      </section>
    </header>
    <router-view/>
  </div>  
</template>

<style>
.nav__title {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: left;
  font-weight: 10;
  text-shadow: 5px 1px 2px rgb(12, 13, 12),
    1px 1px 1px rgb(24, 24, 24),
    -2px 1px 2px rgb(10, 11, 10),
    2px -1px 2px rgb(11, 12, 11);
}


.nav__link {
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
  font-size: 20px;
}

.nav__items {
  list-style: none;
}

.nav__links {
  color: #fff;
  text-decoration: none;
}

.nav__menu {
  margin-left: auto;
  cursor: pointer;
}

.nav__img {
  display: block;
  width: 30px;
}



header .textos {
  margin-top: 152px;
}

header .titulo {
  font-size: 8px;

}

header .boton {
  display: inline-block;
  padding: 6px;
  width: 128px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
}

.nav {
  display: flex;
  justify-content: center;
  /* Agrega esta línea para centrar horizontalmente */
  align-items: center;
  /* Agrega esta línea para centrar verticalmente */
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin: 0 10px;
}


.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 550px) {

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #000000;
  }

  .cerrar-menu {
    color: #ececec;
  }

  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }

  .nav-list {
    flex-direction: column;
    align-items: end;
  }
  .imagen-port:hover img {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

  .nav-list li a {
    color: #ecececec;
  }

  .nav__menu {
    display: block;
  }

  .nav__link--menu {
    position: fixed;
    background-color: #000000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;
  }

  .nav__link--show {
    --show: block;
    opacity: 1;
    pointer-events: unset;
  }

  .nav__close {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
  }
}

* {
  margin: 0;
  padding: 0;
}


.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

/* Header */


.container-name {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.user-name {
  max-width: 25%;
  padding: 15px;
  color: var(--secondarycolor);
  border-bottom: 5px solid var(--secondarycolor);
  margin-left: 40px;
  font-weight: 550;
}


.titulo {
  color: var(--primarycolor);
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.titulo3 {
  text-align: center;
}

.textos-header h1 {
  font-size: 50px;
  color: #fff;
}

.textos-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Galeria */

.portafolio {
  background: #f2f2f2;
}

.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port {
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: rgba(169, 214, 208, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover-galeria img {
  width: 50px;
}

.hover-galeria p {
  color: #fff;
}

.imagen-port:hover .hover-galeria {
  transform: scale(1);
}

/* Principales Editores */

.cards {
  display: flex;
  justify-content: space-evenly;
}

.cards .card {
  background: #68A357;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}

.cards .card .contenido-texto-card {
  width: 60%;
  color: #fff;
}

.cards .card .contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px;
}

/* footer */

footer {
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.content-foo {
  text-align: center;
}

.content-foo h4 {
  color: #fff;
  border-bottom: 3px solid #4b83d3;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p {
  color: #ccc;
}

.titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}

/* Galeria */

.imagen-port {
  width: 44%;
}

/* team */

.cards {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards .card {
  width: 90%;
}

.cards .card:first-child {
  margin-bottom: 30px;
}

@media screen and (max-width:500px) {


  .contenedor-footer {
    flex-direction: column;
    border: none;
  }

  .content-foo {
    margin-bottom: 20px;
    text-align: center;
  }

  .content-foo h4 {
    border: none;
  }

  .content-foo p {
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
  }

  .titulo-final {
    font-size: 20px;
  }
}
</style>